fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
moviepy==1.0.3
pydantic==2.5.0
python-dotenv==1.0.0
aiofiles==23.2.1
Pillow==10.1.0
numpy==1.26.2
setuptools>=65.5.0
wheel>=0.41.0

# Whisper AI - Light version (base model only)
# openai-whisper install se pehle ye dependencies
triton==2.1.0; sys_platform == 'linux'
tiktoken==0.5.1
more-itertools==10.1.0
openai-whisper==20231117
